*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    padding-left: 100px;
    padding-top: 100px;
    margin: 30px auto;
}

h2, 
h3, 
p, 
ul {
    padding-left: 175px;
    margin: 20px auto;
}

ul {
    display: inline-block;
    font-size: 20px;
}

ul li h2 {
    font-size: 25px;
    padding-left: 0;
}

p {
    padding-right: 20%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: gray;
}

.index {
    display: inline-block;
    vertical-align: top;
}

.imgIndex {
    display: inline-block;
    height: 100vh;
    padding-top: 300px;
    margin-left: 550px;
    background-color: linen;
}

.ingredients {
    height: 500px;
    background-color: darkseagreen;
}

.ingredients.waf {
    background-color: lightblue;
}

.ingredients.frost {
    background-color: antiquewhite;
}

.ingredients div {
    display: inline-block;
    vertical-align: top;
}

.cook {
    width: 500px;
}

.chicken {
    width: 700px;
    padding-left: 200px;
}

.waffles {
    width: 892px;
    padding-left: 392px;
}

.frosting {
    width: 688px;
    padding-left: 188px;
}